.garage {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding: 10px;
}

.car {
   box-sizing: border-box;
   border: 1px solid #ccc;
   text-align: center;
   padding: 5px;
   background-color: rgba(0,0,0,0.3);
   color: whitesmoke;
}
.car-img {
   width: 600px;
   height: 200px;
   object-fit: cover;
   border-radius: 8px;
   margin-bottom: 2%;
   margin-top: 2%;
}
.car-img:hover {
   cursor: pointer;
   transform: scale(1.03);
}

.no-cars{
   background-color: rgba(0, 0, 0, 0.7);
   padding: 20px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 600px;
   text-align: center;
   margin: auto;
   margin-top: 200px;
   margin-left: 680px;
   color: white;
   font-size: 64px;
}