.container {
   max-width: 800px;
   margin: 0px auto;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.detail-image {
   width: auto;
   height: 320px;
   max-width: 100%;
   max-height: 100%;
   border-radius: 8px;
   border: 5px solid black;
   box-sizing: border-box;
}

.carName {
   color: white;
}
.info {
   text-align: left;
   width:400px;
}

.info p,
.info div,
.details-description,
strong {
   text-align: left;
}

.info p{
   color: white;
   font-style: italic;
   margin-bottom: 10px;
   word-wrap: break-word;
}

strong {
   color: #ffd700;
   font-weight: bolder;
   margin-bottom: 10px;
   font-size: 18px;
}
.details-description {
   max-width: 600px;
   margin: 0 auto;
}

.button-container {
   display: flex;
   justify-content: space-between;
   margin-top: 6px;
}

.button {
   background-color: #111827;
   border: 1px solid transparent;
   border-radius: 12px;
   color: #ffffff;
   font-size: 18px;
   margin-left: 30px;
   margin-right: 30px;
   width: 100px;
   text-align: center;
   height: 30px;
   padding-top: 3px;
}

.button:hover {
   background-color: #374151;
}

.already-liked {
   margin-top: 15px;
   color: white;
}

.no-tune {
   color: white;
   font-weight: 200;
}

.tuning-header {
   position: relative;
   color: #ffffff;
   font-size: 32px;
   margin-bottom: 10px;
}

.tuning-header::before,
.tuning-header::after {
   content: '';
   position: absolute;
   top: 50%;
   width: 100px;
   height: 2px;
   background-color: #ffffff;
}

.tuning-header::before {
   left: -110px;
}

.tuning-header::after {
   right: -110px;
}
