footer {
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}
.about-link{
   color: white;
  text-decoration: none; 
  transition: color 0.3s ease;
}

.about-link:hover{
   color: #007bff;
  text-decoration: underline;
}
